<?xml version="1.0"?>
<robot name="sam_bot" xmlns:xacro="http://ros.org/wiki/xacro">
    <origin xyz="0.0 0.0 0.2" rpy="0 0 0" />
    <xacro:include filename="params.urdf"/>
    <xacro:include filename="../_common/math/inertia.urdf"/>
    <xacro:include filename="body.urdf"/>
    <xacro:include filename="footprint.urdf"/>
    <xacro:include filename="wheel_front.urdf"/>
    <xacro:include filename="wheels_drive.urdf"/>
    <xacro:include filename="imu.urdf"/>
    <xacro:include filename="diff_drive.urdf"/>
</robot>
